# Virtual Environment
.venv/
venv/
ENV/
env/
# Coverage
.coverage

# Pipenv
.env
Pipfile.lock

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo
