[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
osxphotos = "*"
mutagen = "*"
python-xmp-toolkit = "*"
pillow = "*"
coverage = "*"
radon = "*"
pyobjc-framework-photos = "*"

[dev-packages]
radon = "*"

[requires]
python_version = "3.12"
